---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Austrijos lietuvių bendruomenė"
  description="Savanoriška, nevyriausybinė, politiškai neutrali, ne pelno siekianti organizacija, siekianti vienyti ir bendrai veiklai telkti Austrijoje gyvenančius lietuvius bei Lietuvos draugus."
>
  <div
    class="flex md:absolute relative flex-col items-center justify-center space-y-8 h-full inset-0 py-8"
  >
    <h1 class="text-2xl">Rekvizitai</h1>

    <div class="text-center">
      Austrijos Lietuvių Bendruomenė | Litauische Gemeinschaft in Österreich
      <br /><br />
      ZVR-Zahl: 111917765<br /><br />
      Adresas:<br /> Salesianergasse 15/13,<br /> 1030 Wien, Österreich<br /><br />
      E-mail: <a href="mailto:austrijos.lietuviai@gmail.com">austrijos.lietuviai@gmail.com</a><br /><br />
      Bank:<br /> Erste Bank<br />
      IBAN: AT27 2011 1842 8002 3600<br />
      BIC/SWIFT: GIBAATWWXXX
    </div>
  </div>
</Layout>
